.comment-container {
  display: flex;
  gap: 20px;
}

.comment-container img {
  height: 40px;
  width: 40px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

.vote-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.vote-buttons svg {
  height: 18px;
  width: 18px;
}