.search-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding: 0px 20px;
  min-width: 250px;
  width: 550px;
}

.search-form {
  display: flex;
  align-items: center;
  height: 100%;
  background: #313131;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  gap: 1px;
  width: 100%;
}

.submit-search-icon {
  color: white;
  width: 15px;
  height: 15px;
}


button {
  width: 60px;
  background: #313131;
  border: none;
}

button:hover, .microphone-search:hover {
  cursor: pointer;
}

.microphone-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.microphone-icon {
  height: 50%;
  width: 50%;
}

.microphone-search:hover {
  background: #1d1d1d;
}

input[type=search] {
  width: 100%;
  height: 100%;
  background: #121212;
  color: white;
  border: 1px solid #303030;
  padding: 20px 10px;
}

input[type=search]:focus {
  outline: 1px solid #1C62B9;
}