.suggestion {
  display: flex;
  gap: 10px;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  height: 94px;
  width: 168px;
}

p.title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
}