.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  display: grid;
  grid-template: 2fr 1fr / 1200px 550px;
  gap: 25px;
  justify-content: center;
  height: 100%;
  padding: 25px 25px;
}

p, h2 {
  color: white;
}

@media (max-width:1920px) {
  main {
    grid-template: 2fr 1fr / 2fr 550px;
  }
}

@media (max-width:1500px) {
  main {
    grid-template: 1fr 1fr 1fr / 1fr;
  }

  .suggestions {
    grid-column: 1;
    grid-row: 2;
  }
}